.home--container {
    display: flex;
    flex-direction: column;
}

/*home css*/
/*title content*/
.content-1 {
    font-weight: 500;
    font-size: 48px;
}

.content-2 {
    font-weight: 800;
    font-size: 80px;
}

.title--container {
    padding-left: 80px;
    padding-top: 70px;
}

.imgs--widgets--container {
    display: flex;
    flex-direction: row;
}

/*home img*/
.img--container {
    width: 100%;
    max-width: fit-content;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*grid img under shop img*/
.grid--img {
    background-image: url('../../assets/Group.png');
    width: 540px;
    height: 508.95px;
    margin-left: -15px;
}

.shop--img {
    background-image: url('../../assets/image_632.jpg');
    width: 693.86px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -105px;
    margin-left: -20px;
}