@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap');

/* folder on top css */
.folder--on--top{
    display: flex;
    align-items: center;
    gap: 32px;
}


/* foler profile css */
