@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap');
.folder--container{
    display: flex;
    flex-direction: column;
    gap:20px;
}

/* folder on top css */
.folder--on--top{
    display: flex;
    align-items: center;
    gap: 32px;
}

/* folder on bottom css */
.folder--on--bottom{
    display: flex;
    align-items: center;
    gap: 32px;
}

/* developer folder css */


