.home--container {
    display: flex;
    flex-direction: column;
}

/*home css*/
/*title content*/
.content-1 {
    font-weight: 500;
    font-size: 3rem;
}

.content-2 {
    font-weight: 800;
    font-size: 4.5rem;
}

.title--container {
    padding-left: 8rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.imgs--widgets--container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

/*imgs--widgets*/
.img--container {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-bottom: 3rem;
}

.grid--img {
    background-image: url('../../assets/images/Group.png');
    width: 33rem;
    height: 31rem;
    margin-top: 10rem;
    margin-right: 1rem;
}

.shop--img {
    background-image: url('../../assets/images/image_632.jpg');
    width: 43rem;
    height: 31rem;
    display: flex;
    align-items: top;
    margin-top: -7.5rem;

}

.bundle--widget {
    display: flex;
    flex: auto;
}