/* folder explore css */
.folder--explore{
    display: flex;
    width: 204px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.explore--icons{
    display: flex;
    height: 140px;
    width: 140px;
    padding: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 16px;
    border-radius: 24px;
    border: 2px solid var(--linear-card-stroke, #FFF);
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 8px 16px 0px rgba(12, 12, 12, 0.397);
    backdrop-filter: blur(40px);
}
.box--icon{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 270px;
    border: 2.25px solid var(--linear-card-stroke, #FFF);
    background: rgba(255, 255, 255, 0.30);
}

.building--icon{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 270px;
    border: 2.25px solid var(--linear-card-stroke, #FFF);
    background: rgba(255, 255, 255, 0.30);
}
.explore--name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

p{
    font-size: 25px;
}







